--
-- PostgreSQL database dump
--

\restrict qkzZEeO5srrqRSeCiLPj6lieUEQYDk59Uq7wkMablKlMq2iVHzCVPohPmEb6olF

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.tavoli DROP CONSTRAINT tavoli_pkey;
ALTER TABLE ONLY public.prodotti DROP CONSTRAINT prodotti_pkey;
ALTER TABLE ONLY public.ordini DROP CONSTRAINT ordini_pkey;
ALTER TABLE ONLY public.ingredienti DROP CONSTRAINT ingredienti_pkey;
ALTER TABLE ONLY public.ingredienti DROP CONSTRAINT ingredienti_nome_key;
DROP TABLE public.tavoli;
DROP TABLE public.prodotti;
DROP TABLE public.ordini;
DROP TABLE public.ingredienti;
DROP SCHEMA public;
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: pg_database_owner
--

CREATE SCHEMA public;


ALTER SCHEMA public OWNER TO pg_database_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA public IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ingredienti; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ingredienti (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    nome text NOT NULL,
    disponibile boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.ingredienti OWNER TO postgres;

--
-- Name: ordini; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ordini (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    nome_cliente text NOT NULL,
    orario_ritiro time without time zone NOT NULL,
    totale numeric(10,2) NOT NULL,
    status text DEFAULT 'IN_ATTESA'::text NOT NULL,
    carrello jsonb NOT NULL,
    CONSTRAINT ordini_status_check CHECK ((status = ANY (ARRAY['IN_ATTESA'::text, 'COMPLETATO'::text])))
);


ALTER TABLE public.ordini OWNER TO postgres;

--
-- Name: prodotti; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prodotti (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    nome text NOT NULL,
    prezzo numeric(10,2) NOT NULL,
    categoria text NOT NULL,
    disponibile boolean DEFAULT true,
    ingredienti text[] DEFAULT '{}'::text[]
);


ALTER TABLE public.prodotti OWNER TO postgres;

--
-- Name: tavoli; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tavoli (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    nome text NOT NULL,
    x integer DEFAULT 10,
    y integer DEFAULT 10,
    clienti integer DEFAULT 0,
    status text DEFAULT 'LIBERO'::text,
    shape text DEFAULT 'SQUARE'::text,
    sala text DEFAULT 'SALA 1'::text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.tavoli OWNER TO postgres;

--
-- Data for Name: ingredienti; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ordini; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ordini (id, created_at, nome_cliente, orario_ritiro, totale, status, carrello) FROM stdin;
\.


--
-- Data for Name: prodotti; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tavoli; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ingredienti ingredienti_nome_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingredienti
    ADD CONSTRAINT ingredienti_nome_key UNIQUE (nome);


--
-- Name: ingredienti ingredienti_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingredienti
    ADD CONSTRAINT ingredienti_pkey PRIMARY KEY (id);


--
-- Name: ordini ordini_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ordini
    ADD CONSTRAINT ordini_pkey PRIMARY KEY (id);


--
-- Name: prodotti prodotti_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodotti
    ADD CONSTRAINT prodotti_pkey PRIMARY KEY (id);


--
-- Name: tavoli tavoli_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tavoli
    ADD CONSTRAINT tavoli_pkey PRIMARY KEY (id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO postgres;
GRANT USAGE ON SCHEMA public TO anon;
GRANT USAGE ON SCHEMA public TO authenticated;
GRANT USAGE ON SCHEMA public TO service_role;


--
-- Name: TABLE ingredienti; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.ingredienti TO anon;
GRANT ALL ON TABLE public.ingredienti TO authenticated;
GRANT ALL ON TABLE public.ingredienti TO service_role;


--
-- Name: TABLE ordini; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.ordini TO anon;
GRANT ALL ON TABLE public.ordini TO authenticated;
GRANT ALL ON TABLE public.ordini TO service_role;


--
-- Name: TABLE prodotti; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.prodotti TO anon;
GRANT ALL ON TABLE public.prodotti TO authenticated;
GRANT ALL ON TABLE public.prodotti TO service_role;


--
-- Name: TABLE tavoli; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.tavoli TO anon;
GRANT ALL ON TABLE public.tavoli TO authenticated;
GRANT ALL ON TABLE public.tavoli TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO service_role;


--
-- PostgreSQL database dump complete
--

\unrestrict qkzZEeO5srrqRSeCiLPj6lieUEQYDk59Uq7wkMablKlMq2iVHzCVPohPmEb6olF

